@blue: rgb(84,107,139);
@darkblue:#31517D;
.header{background-color:@blue;padding:10px;color:white;}

.form-row{margin:10px 0px;position:relative;}
.form-row .icon{position:absolute; left:25px; top:10px;}
.form-row .form-control{padding-left:35px;}
.btn-form{width:100%;background-color:@blue;color:white;}
.btn-form:hover{color:white;background-color:@darkblue;}
.btn-form:disabled{background-color:rgb(84,107,139, 0.4 );}

.box{width:10px;height:10px;margin-right:10px; margin-top:5px;float:left;}

.square{.box;background-color:@blue;}
.circle{.box;border-radius:50%;background-color:#00BDFF;}
.footer{margin-top:15px; border-top:1px solid #ccc;}
